<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head></head>
<body>
<div layout:fragment="contents">

    <section class="expenseList">
        <h2>All Books</h2>
        <hr>

        <div class="allBooks" id="allBooks" th:unless="${libraryBooks.empty}">


            <th:block th:each="book,iterStat: ${libraryBooks}">
                <div class="aBook">
                    <!-- <td th:id="'date_' + ${iterStat.count}" class="date" th:text="${expense.date}">2021/10/21</td>-->
                    <div class="text">
                        <a th:id="'claim_expense' + ${iterStat.count}"
                           href="#" th:href="@{/claimbook(expenseId=${book.id})}"
                           ><img th:src="${book.getBookCover}" th:alt="${book.title}"></a>
                    </div>
                    <div th:text="${book.title}">

                    </div>
                    <div th:id="'date' + ${iterStat.count}" class="date" th:text="${book.getGenre.description}">Book Title</div>
                    <div th:id="'date' + ${iterStat.count}" class="date" th:text="${book.authorInitial}">Book Title</div>
<!--                    <div th:id="'amount_' + ${iterStat.count}" class="money"-->
<!--                        th:text="${book.bookDescription}">200.00</div>-->
                </div>
            </th:block>
        </div>
    </section>


    <section class="expenseList">
        <h2>My books</h2>
        <hr>
        <a id="add_expense" href="/newexpense">request a book</a>
        <br>

        <table id="expenses" th:unless="${books.empty}">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th class="mone">Bluepoints</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="book,iterStat: ${books}">
                <tr>
<!--                    <td th:id="'date_' + ${iterStat.count}" class="date" th:text="${expense.date}">2021/10/21</td>-->
                    <td th:id="'date' + ${iterStat.count}" class="date" th:text="${book.title}">Book Title</td>
                    <td class="text">
                        <a th:id="'claim_expense' + ${iterStat.count}"
                           href="#" th:href="@{/claimbook(expenseId=${book.id})}"
                           th:text="${book.getGenre.description}">Lunch</a>
                    </td>
                    <td th:id="'amount_' + ${iterStat.count}" class="money"
                        th:text="${#numbers.formatDecimal(book.bluePoints,1,2,'POINT')}">200.00</td>
                </tr>
            </th:block>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2"></td>
                <td id="expenses_total" class="total"
                    th:text="${#numbers.formatDecimal(totalExpenses,1,2,'POINT')}">200.00</td>
            </tr>
            </tfoot>
        </table>
    </section>

    <section class="expenseList">
        <h2>Books on their way</h2>
        <hr>
        <p id="nobody_owes" th:if="${#lists.isEmpty(owedToMe)}">No books!</p>

        <table id="they_owe_me" th:unless="${#lists.isEmpty(owedToMe)}">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Arrive</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="claim,iterStat: ${owedToMe}">
                <tr th:id="'claim_'+${iterStat.count}">
                    <td class="text" th:text="${claim.getTitle}">Mike</td>
                    <td class="text" th:text="${claim.getAuthor}">Lunch</td>
                    <td class="date" th:text="${claim.dueDate}">2021/11/15</td>
                    </tr>
            </th:block>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3"></td>
                <td id="they_owe_me_total" class="total"
                    th:text="${#numbers.formatDecimal(totalOwedToMe,1,2,'POINT')}">200.00</td>
            </tr>
            </tfoot>
        </table>
    </section>

    <section>
        <h2>Books I owe</h2>
        <hr>
        <p id="owe_nobody" th:if="${#lists.isEmpty(owedToOthers)}">No Books Owed!</p>

        <table id="i_owe_them" th:unless="${#lists.isEmpty(owedToOthers)}">
            <thead>
            <tr>
                <th>Book</th>
                <th>To</th>
                <th>Due</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="claim,iterStat: ${owedToOthers}">
                <tr th:id="'claim_to_settle_' + ${iterStat.count}">

                    <td class="text">
                        <a th:id="'settle_' + ${iterStat.count}"
                           href="#" th:href="@{/settleclaim(claimId=${claim.id})}"
                           th:text="${claim.title}">Lunch</a>
                    </td>
                    <td class="text" th:text="${claim.claimedBy.name}">Sett</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </section>
    </main>
</div>
</body>

</html>